<h1>Você conseguiu 2 Ingressos! :)</h1>

<video playsinline="" class="homepage-video__media" autoplay="" loop="" muted="" preload="auto" aria-hidden="true"
    width="100%">
    <source src="/Christmas/assets/MOTS.mp4" type="video/mp4">
</video>

<div class="ticket">
    <div class="ticket-img">
        <img src="/Christmas/assets/tickets-ticket-svgrepo-com.svg">
    </div>
    <div class="ticket-text">
        <h3>Larissa dos Santos Silva</h3>
        <p>Coldplay - Music of the Spheres World Tour</p>
        <p>Estádio do Morumbi - São Paulo</p>
        <p>Sexta - 17/03/2023 - 20h30</p>
    </div>
</div>

<div class="ticket">
    <div class="ticket-img">
        <img src="/Christmas/assets/tickets-ticket-svgrepo-com.svg">
    </div>
    <div class="ticket-text">
        <h3>Bruno Campos</h3>
        <p>Coldplay - Music of the Spheres World Tour</p>
        <p>Estádio do Morumbi - São Paulo</p>
        <p>Sexta - 17/03/2023 - 20h30</p>
    </div>
</div>

<h2>Feliz Natal meu amor!</h2>
<h2>Eu amo você DEMAISSS!!</h2>

<audio preload="auto" autoplay="true" loop="true">
    <source src="/Christmas/assets/everytear.mp3" type="audio/mpeg">
</audio>