<ng-container *ngIf="!showPrize">

    <h1>Muito bem!!</h1>
    <p>Você se provou digna de receber seu prêmio!!</p>
    <p>Mal posso esperar pra aproveitar <strong>nosso tempo</strong> junto vivendo essa nova lembrança.</p>



    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center text-light my-5"><strong>Clique e segure no seu presente para abri-lo!</strong>
                </h3>
            </div>
            <div class="col-12 mt-5 d-flex justify-content-center" (click)="emitShowPrize()">
                <div class="box">
                    <div class="box-body">
                        <div class="box-lid">
                            <div class="box-bowtie"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="showPrize">
        <h1>Parece que chegou a hora...</h1>

        <audio preload="auto" autoplay="">
            <source src="/Christmas/assets/audio-new.mp3">
        </audio>
</ng-container>