<ng-container *ngIf="!showPrize">

    <h1>Muito bem!!</h1>
    <p>Você se provou digna de receber seu prêmio!!</p>
    <p>Escolhi esse número não por acaso, espero que tudo que planejei tenha dado certo hahaha</p>
    <p>Agora é só abrir seu presente e aproveitá-lo!</p>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center text-light my-5"><strong>Clique e segure no seu presente para abri-lo!</strong>
                </h3>
            </div>
            <div class="col-12 mt-5 d-flex justify-content-center" (click)="emitShowPrize()">
                <div class="box">
                    <div class="box-body">
                        <div class="box-lid">
                            <div class="box-bowtie"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="showPrize">
        <h1>Parece que chegou a hora...</h1>
        <p>Foi tudo realizado com muito amor e carinho, você merece o MUNDO!</p>
        <p>Saiba que o maior presente que eu poderia ter na vida é a sua companhia.</p>
        <p>Obrigado por me permitir fazer parte de momentos incríveis ao seu lado, não tenho dúvidas que essa será mais uma lembrança <strong>INESQUECÍVEL</strong>!</p>
        <audio preload="auto" autoplay="">
            <source src="/Christmas/assets/audio-new.mp3">
        </audio>
</ng-container>