<h1>Natal LB - 2022</h1>

<p>Olá :)</p>
<p>Pensei em diversas formas de te presentear nesse natal, mas pensei bem e apenas entregá-lo seria sem graça!</p>
<p>Portanto, estou propondo um desafio, você vai precisar conquistar esse presente!</p>
<p>Basta resolver a charada e utilizar a senha correta para acessar seu presente, seja rápida, você tem até o dia <strong>01 de Janeiro de 2023</strong> para solucionar hahaha.</p>
<p><strong>Obs: Precisa ser resolvida APENAS por você, é lógico :D </strong></p>

<h1>Charada:</h1>
<p></p>

