<h1>Natal LB - 2022</h1>

<p>Olá :)</p>
<p>Pensei em diversas formas de te presentear nesse natal, mas pensei bem e apenas entregá-lo seria sem graça!</p>
<p>Portanto, estou propondo um desafio, você vai precisar conquistar esse presente!</p>
<p>Basta resolver a charada e utilizar a senha correta para acessar seu presente, seja rápida, você tem até o dia <strong>01 de Janeiro de 2023</strong> para solucionar hahaha.</p>
<p><strong>Obs: APENAS você saberá responder, é lógico :D</strong></p>

<h1>Charada:</h1>
<p>Olhe para mim, me escute, eu sou, eu existo.</p>
<p>Estou em todos os lugares, muitas vezes não visto, mas sempre presente.</p>
<p>Você pode me levar ou não, mas eu sempre te levo.</p>
<p>Você pode não gostar de mim, mas você precisa de mim.</p>
<p>Eu te tiro enquanto te dou, eu te privo enquanto te liberto.</p>
<p>Olhe para mim, transmito tranquilidade, te trago aconchego.</p>
<p>Posso te pegar de surpresa, mesmo quando já sou esperado.</p>
<p>Sou silencioso, mas posso ser barulhento.</p>
<p>Quem sabe já não estou com você, e você não percebeu?</p>
<p>Se eu não estiver ainda, saiba que eu estarei.</p>
<p>Quando enfim me descobrir, se atente aos detalhes, será que sou a mensagem?</p>
<p>Ou apenas o mensageiro?...</p>